[build]
  command = "npm run build -w app &&  npm run build -w website"
  publish = "dist"
  functions = "backend/netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
